.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.answerField {
    margin-top: 10px;
    display: flex;
}
.inputMessage {
    margin-right:5px;
    max-width: 250px;
    max-height: 100px;
}
